/**************/


/* Custom CSS */


/**************/

body {
    background: #4ECDC4;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    /*GIPHY BG PROPERTIES */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body h1 {
    text-shadow: 2px 2px #000;
}

body h2 {
    text-shadow: 2px 2px #000;
}

body h3 {
    text-shadow: 2px 2px #000;
}

label {
    color: #fff;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    padding: 12px;
    color: #fff;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header {
    background-color: #4ECDC4;
}

.nav li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}

.main {
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
}

.giphy img {
    height: 100%;
    width: 100%;
}

.push {
    margin-bottom: 100px;
}

.main h1 {
    font-family: 'Cooper Hewitt', sans-serif;
    color: #4ECDC4;
    text-transform: uppercase;
}

#record-display {
    margin: 0 auto;
    position: relative;
    text-align: left;
}

.modal-header h4 {
    font-family: 'Cooper Hewitt', sans-serif;
    color: #0F7ADA;
}

.modal-body {
    background: #0F7ADA;
}

.footer {
    background-color: #0FB8E4;
    color: #0F7ADA;
    padding-top: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer h5 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Cooper Hewitt', sans-serif;
    text-align: left;
}


.edit-button {
    background-color: #fff;
    color: #0F7ADA;
}

.refresh-button {
    color: #0F7ADA;
}

.displayDate {
    /*   font-size:50px;*/
    color: #0F7ADA;
}
